<!-- templates/achats/ajouter_achat.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Achat</title>
</head>

<body>
    <h1>Ajouter un Achat</h1>

    <form method="post" action="{% url 'ajouter_achat' %}">
        {% csrf_token %}

        <!-- Champs pour le formulaire -->
        {{ form.as_p }}

        <!-- Bouton de soumission -->
        <button type="submit">Ajouter Achat</button>
    </form>

    <a href="{% url 'journal_achat' %}">Retour au Journal des Achats</a>
</body>

</html>