<!-- vente/stock_state.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Stock State</title>
</head>
<body>
    <h3>Stock State</h3>
    
    <form method="get" action="">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    <br/><br/>
    {% if stock_entries %}
        <table border="1">
            <tr>
                <th>Produit</th>
                <th>Centre</th>
                <th>Quantité</th>
            </tr>
            {% for stock_entry in stock_entries %}
                <tr>
                    <td>{{ stock_entry.produit.designation }}</td>
                    <td>{{ stock_entry.centre.code }}</td>
                    <td>{{ stock_entry.quantite }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% if form.cleaned_data.Recherceh_Nom_Code %}
        <h3 style="color: red;"><p>Aucun produit trouvé avec le nom / désignation "{{ form.cleaned_data.Recherceh_Nom_Code }}".</p></h3>
        {% else %}
            <p>Le stock est vide.</p>
        {% endif %}
    {% endif %}
    <br/><br/>
    <a href="{% url 'stock_state' centre.id %}">
        <button>Refresh</button>
      </a>
      <br/><br/>
    <button><a href="{% url 'Produit' centre.id %}">Ajouter produit</a></button>
    <br/><br/>
   <button><a href="{% url 'centre' centre.id %}">Retour au centre</a></button> 

</body>
</html>
